{% extends 'base/base.html' %}

{% block content %}
    <section class="inscripcion">
        <section class="inscripcion-container">
            <h2>{{titulo}}</h2>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color:black">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit">{{boton}}</button>
            </form>
        </section>
    </section>
{% endblock %}