{% load static %}
{% block content %}
        <footer id="footer">
            <div class="top-footer">  
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 marb20">
                              <div class="ftr-tle">
                                <h4 class="white no-padding">Acerca de Nosotros</h4>
                              </div>
                              <div class="info-sec">
                                <p>Puedes encontrarnos:<br /> Cnel. Puch nº 647 388-4235501, San Salvador de Jujuy</p>
                              </div>
                            </div>
                        <div class="col-md-4 col-sm-4 marb20">
                              <div class="ftr-tle">
                                <h4 class="white no-padding">Enlaces</h4>
                              </div>
                              <div class="info-sec">
                                <ul class="quick-info">
                                  <li><a href="/"><i class="fa fa-circle"></i>Home</a></li>
                                  <li><a href="/contacto"><i class="fa fa-circle"></i>Contacto</a></li>
                                  <li><a href="/normativa"><i class="fa fa-circle"></i>Normativas</a></li>
                                </ul>
                              </div>
                            </div>
                        <div class="col-md-4 col-sm-4 marb20">
                            
                            
                            <ul class="social-link">
                                <li class="twitter animated bounceIn wow delay-02s"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook animated bounceIn wow delay-03s"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                
                                <li class="gplus animated bounceIn wow delay-05s"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-line" style="background: -webkit-linear-gradient(left, #e57f81,#EC4067, #A01A7D);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            Colegio Profesional de Psicologos de Jujuy
                        </div>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}