{% load static %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} - Colegio de Psicologo{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!--Todos los Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screens.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_botones.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/calendario.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticias.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/novedades.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/socios.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/organigrama.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/organigrama_lista.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/comercio.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/finanzas.css' %}" />

    <script src="{% static 'js/desconocido.js' %}"></script>
</head>
{% endblock %}