{% block content %}
    <li><a href="/">Inicio</a></li>
    <li><a href="/noticias/">Noticias</a></li>
    <li><a href="/calendario/">Eventos</a>
        {% if eventos %}
            <ul class="submenu">
                {% for evento in eventos %}
                    <li>
                        <a href="/calendario/{{evento.id}}">
                            [{{evento.tipo.nombre}}}] {{evento.nombre}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <span class="triangle glyphicon glyphicon-triangle-bottom"></span>
        {% endif %}
    </li>
    <li><a href="/faq/">¿Que es Club Nautico Santo Tome?</a></li>
    <li><a href="/contacto/">Contacto</a></li>
{% endblock %}