{% load static %}
{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="col-md-12" style="height: 80px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                              
                    <a class="navbar-brand" href="/">  <img src="/static/img/favicon.ico" class="img-responsive">                               
                    </a>                          
                    <h6 class="white" style="margin-top: 30px;text-align: -webkit-auto;">Colegio Profesional de Psicologos de  Jujuy </h6>                            
                </div>
                <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="autoridadesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Institución </a>
                            <div class="dropdown-menu" aria-labelledby="autoridadesDropdown">
                                <div class="dropdown-divider"></div>
                                <a  class="dropdown-item">
                                    <a href="/Institucional">Autoridades</a>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#quienesSomos">
                                    <a href="/QuienesSomos">Quienes Somos</a>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" href="#tramites">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="tramitesDropdown" href="#tramites" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tramites </a>
                            <div class="dropdown-menu" aria-labelledby="tramitesDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#matriculacion">
                                    <a href="/Tramite">Matriculacion</a> 
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#Certificado">
                                    <a href="/Certificado">Certificado</a>
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="obraSocialDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Obra Social </a>
                            <div class="dropdown-menu" aria-labelledby="obraSocialDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#novedades">
                                    <a href="/ObraSocial">Inscripcion y Convenio</a>
                                </a>
                                
                            </div>
                        </li>                               
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="tramitesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normativas </a>
                            <div class="dropdown-menu" aria-labelledby="tramitesDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#normativa">
                                    <a href="/Normativa">Leyes</a>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="contactoDropdown" href="#" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Contacto</a>
                            <div class="dropdown-menu" aria-labelledby="contactoDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">
                                    <a href="/Contacto">Contacto</a>
                                </a>
                            </div>
                        </li>

                        
                        <li style="text-decoration: none;background-color: #18baa2;border-radius: 25px;">
                            <a href="#">Ingresar</a>
                        </li>
                    </ul>
                </div>
            </div>

            
        </div>
        
    </nav> 
{% endblock %}