/* FACTURA */
p.factura{
    margin-bottom: 2px!important;
}

p.factura>label {
    width: 150px;
}

.detalle {
    border-collapse: collapse;
}

.detalle td, th {
    border: 1px solid #dddddd;
    text-align: left;
  }

.detalle th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.detalle tr:nth-child(even) {
    background-color: #dddddd;
}

.input_bloqueado {
    background-color: rgb(175, 175, 175);
}