/* NOVEDADES */
.noticias {
    width: 100%;
}

.noticias h1 {
    text-align: center;
    background-color: #ffffff;
    color: rgb(15, 119, 70);
    font-size: 4em;
    margin: 0;
}

.lista-noticias {
    padding-left: 15%;
    width: 80%;
    align-content: center;
}

.noticias li {
    list-style-type: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.noticias .foto {
    float: left;
    width: 25%;
    max-height: 6em;
}

.noticias .foto img {
    max-width: 100%;
}

.noticias .info {
    text-align: left;
    float: right;
    width: 70%;
}

.noticias .contenido {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    background: #b18d73;
    padding-bottom: 5px;
    height: 70px;
    font-size: 0.9em;
    color: white;
}

/*Noticia*/
.noticia {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.noticia h1 {
    text-align: center;
    background-color: #ffffff;
    color: rgb(15, 119, 70);
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-top: 10px;
}

.noticia .noticia-cuerpo {
    width: 70%;
    text-align: justify;
    display: inline-block;
}

.noticia .foto {
    min-width: 40%;
    max-width: 40%;
    float: left;
}

.noticia .foto img {
    max-width: 100%;
}

.noticia .epigrafe {
    color: gray;
}

.noticia .info {
    width: 55%;
    float: right;
}

.noticia .info>p {
    text-align: justify;
    font-size: 14pt;
}