/* Noticias */

.main_noticias {
    margin: 20px;
    width: 100%;
    background-image: none;
}

.carousel-noticias {
    width: 60%;
    margin: 0 auto;
}

.carousel-inner {
    height: 500px;
    border-radius: 30px;
}

.carousel-inner .item {
    height: 100%;
}

.carousel-titulo {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 20px;
}

.carousel-titulo h1 {
    font-weight: bold;
    color: white;
    display: inline;
}

.carousel-cuerpo {
    position: absolute;
    width: 45%;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 20px;
}

.carousel-cuerpo p {
    display: inline;
    padding: 0.5rem;
    text-align: justify;
    color: #fff;
}

.carousel-img {
    width: 80%;
}

.carousel-control {
    background-image: initial !important;
}