@page {
    size: A4;
    margin: 1cm;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.header{
    position: relative;
    text-align: center;
    color: white;
}

.imagen_header{
    width:100%;
    height: 400px;
    background-color: gray;
    overflow: hidden;
}

.header_titulo{
    position: absolute;
    top: 10px;
    left: 16px;
    color: black;
}
.header_encabezado{
    position: absolute;
    top: 8px;
    right: 16px;
}

.header_logo{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.derecha {
    text-align: right;
    float: right;
}
.listado {
    width: 100%;   
}
.unidad {
    width: 99%;
    border-style: groove;
    float: right;
    margin-top:20px;
    margin-bottom: 5px;
}
.institucional{
    display: inline-block;
    width: 45%;
    margin: 10px
}

.institucional_foto{
    display: inline-block;
    width: 25%;
}

.img_institucional{
    max-width:100%;
    max-height:100%;
}

.institucional_titulo{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

.institucional_titulo_texto{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

.institucional_titulo_icons{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    text-align: right;
}


.institucional_info{

}

.funcionarios{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    border-left-width: thin;
    border-left-style: solid;
    border-left-color: gray;
}

.funcionario{
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.funcionario_foto{
    display: inline-block;
    width: 20%;
}

.img_funcionario{
    max-width:100%;
    max-height:100%;
}

.funcionario_info{
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.icono{
    height: 1.12em;
    vertical-align: bottom;
}

.btn_pestana{
    background-color: rgb(112, 112, 112);
    border: none;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 25px;
}

.btn_descripcion{
    background-color: rgb(160, 160, 160);
    border: none;
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 25px;
}