.organigrama {

}

.organigrama ul {
  padding-top: 20px;
  position: relative;
}

.organigrama>ul li {
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 20px 5px 0px 5px;
    position: relative;
}

.organigrama>ul li::before, .organigrama>ul li::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 50%;
    border-top: 1px solid #f80;
    width: 50%;
    height: 20px;
}

.organigrama>ul li::after{
    right: auto;
  left: 50%;
    border-left: 1px solid #f80;
}

.organigrama>ul li:only-child::before, .organigrama>ul li:only-child::after {
    display: none;
}

.organigrama>ul li:only-child {
  padding-top: 0;
}

.organigrama>ul li:first-child::before, .organigrama>ul li:last-child::after{
    border: 0 none;
}

.organigrama>ul li:last-child::before{
    border-right: 1px solid #f80;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.organigrama>ul li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.organigrama>ul ul::before {
    content: '';
    position: absolute;
  top: 0;
  left: 50%;
    border-left: 1px solid #f80;
    width: 0;
  height: 20px;
}

.organigrama>ul li a{
    border: 1px solid #f80;
    padding: 1em 0.75em;
    text-decoration: none;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    font-family: arial, verdana, tahoma;
    font-size: 0.85em;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.organigrama>ul li a:hover {
    border: 1px solid #fff;
    color: rgb(105, 102, 102);
    background-color: rgba(255,128,0,0.7);
    display: inline-block;
}

.organigrama > ul > li > a {
  font-size: 1em;
  font-weight: bold;
}

.organigrama > ul > li > ul > li > a {
  width: 8em;
}

.organigrama .administrar {
    padding: 25px;
}

.img_empleado {
    width: 90%;
}