/* Personal */
.empleado p {
    font-size: 1em;
}

.link_edicion {
    float: right;
}
.retrato {
    padding: 10px;
    width: 90%;
}

table .habilidades{
    padding-right: 10px;
}
/* Turnos */
/* Informe de deudores */
.turnero {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

.turnero td, th {
    border: 1px solid #000000;
    text-align: center;
  }

.turnero th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.turnero tr:nth-child(even) {
    background-color: #dddddd;
}

.turnero .empleados>p {
    font-size: smaller;
}