/* Popup container */
.popup {
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 2;
    top: 200px;
    left: auto;
    margin-left: -170px;
    color: #333;
    padding: 20px;
    text-align: left;
    line-height: 1.3;
    font-size: 0.9em;
    box-shadow: 0px 0px 15px #0000005c;
    width: 900px;
    left: calc(50% - 100px);
    min-height: 10vh;
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 50px;
}

.popuptext .img_logo
{
    max-width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

.popuptext .img_icon {
    display: inline;
    float: right;
    width: 8%; 
    height: 8%; 
}

.popuptext .clean {
    all: unset;
}

.popuptext .clean:hover {
    all: unset;
    color: rgb(105, 102, 102);
}

.popup .popuptext.active
{
 visibility: visible;
}

.popup-overlay
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00000033;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.popup-overlay.active
{
 display: block;
}

/* Popup arrow */
.popup .popuptext::after {
    /*content: "";*/
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}