section.resumen {

}

div.informacion_basica {
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 20%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
    width: auto !important;
}

section.informacion_basica img {
    max-width: 100%;
}

section.resumen_pago {
    text-align: center;
}

section.resumen_pago img {
    max-width: 100%;
}

div.pago {
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}
/* Informe de deudores */
.deudores {
    width: 100%;
    border-collapse: collapse;
}

.deudores td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.deudores th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.deudores tr:nth-child(even) {
    background-color: #dddddd;
}

.deudores .alerta {
    background-color: #cc8282 !important;
    color: black !important;
}